<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SSWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SSWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ihawu/webservices/sswebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="SSWebServiceSoap"
                contract="SSWebService.SSWebServiceSoap" name="SSWebServiceSoap" />
            <endpoint address="http://localhost/ihawu/webservices/sswebservice.asmx"
                binding="customBinding" bindingConfiguration="SSWebServiceSoap12"
                contract="SSWebService.SSWebServiceSoap" name="SSWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>